footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    text-align: center;
    padding: 1em 1.5em;
    background-color: hsl(165, 100%, 97%);
    transition: all .5s;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.copyright > * {
    font-size: 0.75em;
}

.copyright .copyright__author {
    font-weight: 100;
}

.copyright .copyright__author .heart {
    color: hsl(352, 68%, 55%);
}