.dark-mode {
    width: 20%;
    text-align: center;
    font-size: 0.5em;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.check-trail {
  display: flex;
  align-items: center;
  width: 9em;
  height: 5em;
  background: hsl(148, 64%, 58%);
  border-radius: 2.5em;
  transition: all .5s ease;
  cursor: pointer;
}

.check-handler {
  display: flex;
  margin-left: 0.5em;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  background: hsl(204, 54%, 55%);
  border-radius: 50%;
  transition: all .5s ease;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
}

.check-handler:before {
    content: "☀";
    color: white;
    font-size: 2em;
    font-weight: bold;
}

input[type="checkbox"]:checked + .check-trail {
  background: hsl(204, 54%, 55%);
}

input[type="checkbox"]:checked + .check-trail .check-handler {
    margin-left: 50%;
    background: hsl(148, 64%, 58%);
}

input[type="checkbox"]:checked + .check-trail .check-handler::before {
    content: "🌙"
}