@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500;700;900&display=swap');

html {
    font-size: 18px;
}

body {
    min-height: 100vh;
    font-size: 1em;
    font-family: 'Inter', 'Helvetica neue', Helvetica, monospace;
    color: #0A090C;
}

#root {
    min-height: 100vh;
}